.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
    justify-content: center;
    align-items: center;
}

.grid-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 1px solid #ccc;
    margin: 2px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.grid-item:hover {
    transform: scale(1.05);
}

.square {
    background-color: red;
}

.circle {
    background-color: blue;
    border-radius: 50%;
}

.connected {
    background-color: green;
}
